Repository PlatypusBytes/TrainCritSpeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

First version of stochastic addition
  cs_stochastic.py
Due: yapf

Changed folder structure to conform with main, added test
  TrainCritSpeed/cs_stochastic.py
  TrainCritSpeed/soil_dispersion.py
  run_stochastic.py
  tests/test_cs_stochastic.py
Due: yapf, mypy

Updated readme and example
  README.md
  TrainCritSpeed/cs_stochastic.py
  run_stochastic.py
  tests/test_cs_stochastic.py
Due: yapf, mypy

Removed unused imports
  README.md
  TrainCritSpeed/cs_stochastic.py
  run_stochastic.py
  tests/test_cs_stochastic.py
Due: yapf, mypy

Made standard deviations default to 0
  TrainCritSpeed/cs_stochastic.py
  run_stochastic.py
  tests/test_cs_stochastic.py
Due: yapf, mypy

used yapf
  TrainCritSpeed/cs_stochastic.py
  run_stochastic.py
  tests/test_cs_stochastic.py
Due: yapf, mypy

Added option to provide seed, use lognormal distributions and added underscore to stochastic layer parameters
  TrainCritSpeed/cs_stochastic.py
  run_stochastic.py
  tests/test_cs_stochastic.py
Due: yapf, mypy

Increase maximum phase velocity limit in SoilDispersion and adjust stiffness matrix sign in BallastedTrack; add warnings for root finding issues.
  TrainCritSpeed/soil_dispersion.py
  TrainCritSpeed/track_dispersion.py
Due: yapf, mypy

fix precommit
  TrainCritSpeed/track_dispersion.py
Due: yapf, mypy

latest version for experiment
  TrainCritSpeed/soil_dispersion.py
  TrainCritSpeed/track_dispersion.py
  critical_speed.py
  run_stochastic.py
Due: yapf, mypy

Refactor railpad stiffness assignment in BallastedTrack and SlabTrack classes for consistency
  TrainCritSpeed/track_dispersion.py
Due: yapf, mypy

Remove unused shear_modulus attribute from Layer class
  TrainCritSpeed/soil_dispersion.py
Due: yapf, mypy

Refactor intersection method to return first intersection points instead of arrays
  TrainCritSpeed/critical_speed.py
Due: yapf, mypy

Update intersection method to return empty list instead of None for no intersections
  TrainCritSpeed/critical_speed.py
Due: yapf, mypy

Return NaN for first intersection points instead of empty list when no intersections exist
  TrainCritSpeed/critical_speed.py
Due: yapf, mypy

Update omega range and layer parameters in critical speed calculation; change plot to save as image
  TrainCritSpeed/soil_dispersion.py
  critical_speed.py
Due: yapf, mypy

Replace zero initialization with NaN for phase_velocity in BallastedTrack and SlabTrack classes
  TrainCritSpeed/track_dispersion.py
Due: yapf, mypy

Clarify comment on intersection calculation in compute method; specify fundamental mode
  TrainCritSpeed/critical_speed.py
Due: yapf, mypy

Enhance SoilDispersion class: add support for multiple modes, improve phase velocity initialization, and implement soil dispersion plotting functionality. fixed bug in trignometric functions
  TrainCritSpeed/soil_dispersion.py
Due: yapf, mypy

Update omega range and improve dispersion plotting in critical speed calculation
  critical_speed.py
Due: yapf

Fix formatting inconsistencies in critical speed plotting code
  critical_speed.py
Due: yapf

added static images for readme
  static/critical_speed.png
  static/soil_dispersion.png
Due: none

Refactor soil dispersion tests and update critical speed test parameters
  tests/data/soil_dispersion_1.txt
  tests/data/soil_dispersion_2.txt
  tests/test_critical_speed.py
  tests/test_dispersion_soil.py
Due: yapf

Add critical speed plot to README for better visualization
  README.md
Due: none

fixed yapf
  tests/test_critical_speed.py
Due: yapf

Update number of modes in critical speed calculations and replace soil dispersion images
  README.md
  critical_speed.py
  static/soil_dispersion.png
  static/soil_dispersion_contour.png
  static/soil_velocity.png
Due: yapf

Refactor soil dispersion initialization and improve plot visualization with LogNorm scaling
  TrainCritSpeed/soil_dispersion.py
Due: yapf, mypy

Bump version to 1.0.1 in setup.cfg
  setup.cfg
Due: none

Fix default step size in SoilDispersion initialization from 0.01 to 0.001
  TrainCritSpeed/soil_dispersion.py
Due: yapf, mypy

fixed style
  TrainCritSpeed/soil_dispersion.py
Due: yapf, mypy

upgraded how to plot the map
  TrainCritSpeed/soil_dispersion.py
Due: yapf, mypy

fixed precommit
  TrainCritSpeed/soil_dispersion.py
Due: yapf, mypy

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^TrainCritSpeed/ and \.py$
